<div class="panel-primary">
    <div class="panel-body">
        <shadow-box [show]="freezeHeader"></shadow-box>
        <div class="form-horizontal hidden-xs">
            <div class="header-group form-group hidden-xs">
                <div class="col-xs-12 col-lg-4 hidden-xs">
                    <h4>Формирование электронной подписи документа</h4>
                </div>
                <div class="col-xs-12 col-lg-7 col-xs-7 hidden-xs"></div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-body">
                <signcreated></signcreated>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Сервер проверки ЭП
            </div>
            <div class="panel-body">
                <a href="https://dss.cryptopro.ru/Lite/Verify/" target="_blank" class="btn btn-xs btn-default">КриптоПро DSS</a>
                <a href="https://crypto.kontur.ru/verify" target="_blank" class="btn btn-xs btn-default">Контур.Крипто</a>
                <a href="https://www.gosuslugi.ru/pgu/eds/" target="_blank" class="btn btn-xs btn-default">ГосУслуги</a>
            </div>
        </div>
    </div>
</div>
